.header {
  z-index: 5;
  color: #c9576e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header-element {
  font-weight: 500;
  font-size: x-large;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor:pointer;
  margin: 20px;
}

.header-element:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
}