.header {
  color: #c9576e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header-element {
  font-weight: 500;
  font-size: x-large;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  cursor:pointer;
}

.header-element:hover {
  transform: scale(1.04);
  transition-property: transform;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  /* font-weight: 700; */
}